# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
/.build/

# CocoaPods (if used later)
Pods/

# Fastlane (if used later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Misc
*.DS_Store

# user‑specific
xcuserdata/
xcshareddata/

